$def with(details)

<h1>$(details['wpid']) - $(details['title'])</h1>
<hr/>
<h2>Summary</h2>

<h3>Number of potential plagiarisms: <span style="font-weight: normal;">$:(details['data']['data']['count'][0])</span></h3>

<h3>Words tested (wc): <span style="font-weight: normal;">$:(details['data']['data']['querywords'][0])</span></h3>

<br/>

<h3>Results:</h3>
$for result in details['data']['data']['result']:
  <h4><a href="$:(result['url'][0])">Title: $:(result['title'][0])</a></h4>
  <p><strong>hyperink source: </strong>$:result['textsnippet'][0]</p>
  $if 'textmatched' in result:
    <p><strong>suspicious match: </strong>$:result['textmatched'][0]</p>
  <br/>
  
